<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-select/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/static/css/ace/font-awesome.css" />
    <link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.min.css"/>
    <!--<link rel="stylesheet" href="/static/css/ace/ace.min.css"/>-->
    <link rel="stylesheet" href="/static/layer/skin/layer.css"/>
    <link rel="stylesheet" href="/static/zTree/css/zTreeStyle/zTreeStyle.css"/>
</head>
<body>

</body>
</html>